[Unit]
Description=KirveBot2 - İkinci Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/kirveyenibot/bot2
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=10
Environment=PYTHONPATH=/root/kirveyenibot/bot2

[Install]
WantedBy=multi-user.target
